body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background: #fff;
}
a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* header */
.header {
}
.header-navigation {
}
.header-logo {
  color: inherit;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-color {
  color: var(--IRIS, #4d5ae5);
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.address {
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
  color: var(--SLATE, #434455);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* ----------- */

/* -----main------ */
.main {
}
/* -----hero------ */
.hero {
  background: var(--NAVY-BLUE, #2e2f42);
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.hero-order-btn {
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-order-btn:hover {
  background: #404bbf;
}

/* ----------- */

/* -----features------ */
.features {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.features-text {
  color: var(--SLATE, #434455);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* ----------- */

/* ----- TEAM------ */
.team {
  background: #f4f4fd;
}
.team-title {
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-list-item {
}
.team-list-img {
}
.team-list-subtitle {
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* ----------- */

/* ----- PORTFOLIO------ */
.portfolio {
}
.portfolio-title {
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-list-img {
}
.portfolio-subtitle {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.portfolio-list-text {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* ----------- */

/* ----- Footer------ */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-logo {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-lodo-color {
  color: var(--IRIS, #4d5ae5);
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* ----------- */
